body {
    background-color: black;
    font-family: "Courier New", monospace;
    color: green;
}

#logo {
    border: none;
}

#centered {
    margin: 0px auto 0px auto;
    width: 700px;
}

#instructions {
    font-size: 40px;
    margin-top: 150px;
}

.instruction {
    margin-top: 20px;
}

.instruction-grey {
    color: #020;
}

#download-link {
     margin-top: 25px;
     background-color: #0a0a0a;
}

.download-link-normal {
    border: 1px solid #777;
}

.download-link-hover {
    border: 1px solid yellow;
}

.download-link-finished {
    border: 1px solid #aaa;
}

#now-downloading {
    margin-top: 80px;
    font-size: 30px;
    text-align: center;
}

#ad {
    width: 300px;
    margin: 0px auto 0px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    color: #555;
}

#ad-img {
    border: none;
}

#progress-bar {
    width: 0px;
    background-color: green;
}

#download-link-text {
    padding: 2px 5px 2px 5px;
    font-size: 16px;
    background-color: inherit;
    border: none;
    font-family: "Courier New", monospace;
    width: 698px;
    resize: none;
    outline: none;
    height: 1.4em;
}

.download-link-text-waiting {
     color: #333;
}

.download-link-text-finished {
     color: white;
}

#status {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #aaa;
}

#download-progress-bar-wrapper {
    border: 1px solid #aaa;
    margin-top: 30px;
}

#download-progress-bar {
    width: 0px;
    /*height: 20px;*/
    background-color: green;
}

#download-progress-bar-percentage {
    color: white;
    text-align: center;
    width: 698px;
    padding: 2px;
}


#flashContainer {
    position: absolute;
    width: 175px;
    height: 50px;
}

#save-button-wrapper {
    width: 175px;
    margin: 30px auto 0px auto;
    visibility: hidden;
}

.button-standard {
    border-top: 3px solid #0d0;
    border-left: 3px solid #0c0;
    border-right: 3px solid #030;
    border-bottom: 3px solid #030;
}

.button-pressed {
    border-bottom: 3px solid #0d0;
    border-right: 3px solid #0c0;
    border-left: 3px solid #030;
    border-top: 3px solid #030;
}

#save-button-text {
    color: white;
    background-color: #080;
    text-align: center;
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
    width: 175px;
    height: 50px;
    border-radius: 15px;
}

#q-and-a {
    margin-top: 500px;
    margin-bottom: 300px;
}

#q-and-a tr {
    vertical-align: top;
}

#q-and-a a {
    color: green;
}

#filename {
    color: yellow;
    font-style: italic;
}

#help {
    margin-top: 10px;
    border: 1px solid yellow;
    background-color: #880;
    font-size: 16px;
    padding: 2px 5px;
    color: black;
}

#help-wrapper {
    display: none;
}

#arrow {
    font-size: 11px;
    padding-left: 20px;
    font-weight: bold;
}
