{% extends "base.html" %}

{% block title %}
Bitparcel | {{ row.filename }}
{% endblock %}

{% block includes %}
        <!--<script type="text/javascript" src="/static/js/swfobject.js"></script>-->
        <!--<script type="text/javascript" src="/static/flash-file-downloader/FlashFileDownloader.js"></script>-->
{% endblock %}

{% block content %}
<div id="ad">
    <a href="http://www.hipmunk.com/"><img id="ad-img" src="/static/images/hipmunk.jpg" /></a>
    <br />
    (advertisement)
</div>
<div id="now-downloading">
    <div id="filename">{{ row.filename }}</div>
    is now downloading...
</div>

<div id="download-progress-bar-wrapper">
    <div id="download-progress-bar">
        <div id="download-progress-bar-percentage">
            Beginning download...
        </div>
    </div>
</div>

<script>
    var file_size = {{ row.size }};
    var download_session_key = '{{ download_session_key }}';

    function getProgressUpdate()
    {
        $.ajax({
            url: '/progress/' + download_session_key,
            dataType: 'json',
            success: updateProgressBar});
    }

    function updateProgressBar(data)
    {
        var max_width = parseInt($('div#centered').css('width').replace(/\D/,''));
        var percentage = parseInt(data.downloaded_size / file_size * 100);
        var width = parseInt(data.downloaded_size / file_size * max_width) - 2;
        $('#download-progress-bar').css('width', width + 'px')
        $('#download-progress-bar-percentage').html(percentage + '%');
        if (data.downloaded_size == file_size)
        {
            clearInterval(interval_id);
            $('#download-progress-bar-percentage').html('Download complete!');
        }

    }

    var interval_id = setInterval(getProgressUpdate, 1000);

    function downloadFile()
    {
        window.location = '{{ file_url }}';
    }

    document.body.onload = downloadFile;

</script>

{% endblock %}

