{% extends "base.html" %}

{% block title %}
bitparcel ~ share files with friends | share files - upload files - send files - download files
{% endblock %}

{% block content %}
<div id="instructions">
    <div class="instruction">
        1. Drag a file here to share.
    </div>
    <div class="instruction">
        2. Use this link to download:
    </div>
    <div id="download-link" class="download-link-waiting">
        <div id="progress-bar">
            <div>
                <textarea id="download-link-text" class="download-link-text-waiting" readonly onclick="this.select()"
                    >http://bitparcel.com/?????/YourFile.zip</textarea>
            </div>
        </div>
    </div>
    <div id="status">
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="/static/js/file-upload/jquery.iframe-transport.js"></script>
<script src="/static/js/file-upload/jquery.fileupload.js"></script>
<script>
    $('body').fileupload({
        url: '/upload',
        paramName: 'thefile',
        dragover: function() {
            $('body').addClass('body-hover');
        },
        drop: function() {
            $('body').removeClass('body-hover');
            $('#download-link').removeClass('download-link-waiting').addClass('download-link-downloading');
        },
        done: function(e, data) {
            $('#download-link-text').val(data.result).removeClass('download-link-text-waiting').addClass('download-link-text-finished');
            $('#status').html('Upload complete!');
        },
        fail: function() {
            alert('There was an error uploading your file. Please try again.');
        },
        progress: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            var progressBarWidth = parseInt(data.loaded / data.total * 698, 10);
            $('#progress-bar').css('width', progressBarWidth + 'px');

            if(progress < 100)
                $('#status').html(progress + '%');
            else
                $('#status').html('Completing upload...');

        },
    });
</script>

{% endblock %}

